
<!-- <app-header [childtitle]="ctitle"></app-header>
<div>
<app-header [child1sentence]="parrent1sentence" [child1array]="parent1array"></app-header>
</div>

<div>
<app-header [child1sentence]="parrent2sentence" [child1array]="parent2array"></app-header>
</div>         -->

<!-- <app-header (c)="data=$event"></app-header>

<app-header #symbol></app-header>
{{symbol.m}}
{{symbol.passToParent()}}
{{data}} -->

<div #test>div</div>
<button (click)="change()">click</button>

<router-outlet></router-outlet>
